<configuration>
  <connectionStrings>
    <add name="MyDBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MyDatabase.mdf;Integrated Security=True;Connect Timeout=30" />
  </connectionStrings>
  <appSettings>
    <add key="SomeSetting" value="SomeValue" />
    <add key="AnotherSetting" value="AnotherValue" />
  </appSettings>
  <logging>
    <logFilePath>C:\DigiColegio\Logs\</logFilePath>
  </logging>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SomeAssembly" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>